.bug-catcher{

  &.launcher{

    bottom: 0;
    right: 30px;
    position: fixed;

    button {
      color: red;
    }
  }

  &.overlay{
    top: 0;
    left: 0;
    position: fixed;
  }

  &.hidden{
    display: none;
  }
}

/* tools */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
